.search {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.search input {
    margin: 40px 0px 10px 0px;
    border-radius: 3px;
    border: 1px solid;
    text-indent: 5px;
}

.artists-list {
    display: flex;
    list-style: none;
    margin: 0px;
    padding: 0px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.artist {
    display: flex;
    box-sizing: content-box;
    width: 48%;
    height: 80px;
    margin-bottom: 15px;
    color:black;
    transition: .5s ease-in;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}
.artists-list .artist .logo {
    height: 80px;
    width: 100px;
}
.artists-list .artist .name{
    align-self: flex-start;
    font-weight: 600;
    margin-left: 15px;
    padding-top: 10px;
}

.separator {
    height: 1px;
    border: none;
    background: white;
    margin-left: -15px;
    margin-right: -15px;
}
